* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: unset;
    align-items: unset;
    border: 0;
    outline: unset;
}

:root {
    --dark: hsl(0, 0%, 20%);
    --light: #fff;
}

body {
    background-color: var(--dark);
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.table {
    width: 350px;
    height: 220px;
    background: url("../assests/table.png") center no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.deck {
    display: flex;
    gap: 1rem;
}

.card {
    width: 80px;
}

.stat {
    position: fixed;
    top: 2rem;
    left: 1rem;
    color: var(--light);
}

.stat::before {
    content: "Turn:";
    padding-right: 5px;
}

.card.np::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0, 0, .25);
}